body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #000000;
  color:#e81818;
  font-size: xx-large;
}

.heading {
  text-align: center;
  font-size: xx-large ;
  font-weight: bolder ;
  background-color:#e5c10d;
  margin-left: 20%;
  margin-right: 20%;
  color: #07ce1b;
}

.text{
  text-align: center;
  font-size: x-large ;
  font-weight: 700 ;
  background-color: ;
  margin-left: 30%;
  margin-right: 30%;
  color: #e5c10d;
}

.container {
  background-color: #033808;
  position: absolute;
  width: 360px;
  padding: 35px;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  box-shadow: 15px 30px 35px 
  border-radius: 30px;
}

.score{
  display: flex;
  justify-content: space-between ;
  font-size: larger;
  font-weight: 600 ;
  padding: 20px;
  background-color: #000000 ;
  margin-top: 50px;
  margin-bottom: 30px;
  box-shadow: 0 0 30px #e5c10d;
  color: #e81818;
}

.score p:nth-last-child(1) {
  margin-left:50%;
}

#game-status {
  margin-top: 20px;
  font-size: 18px;
}

.coin {
  position: relative;
  margin: 32px auto;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  width: 150px;
  height: 150px;
}
.coin img{
  width: 100%;
  border-radius:100px;
}

/* #coins {
  width: 160px;
} */

.heads, .tails {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.tails{
  transform: rotatex(180deg);
}

@keyframes spin-tails {
  0% {
    transform: rotateX(0);
  }
  100%{
    transform: rotateX(1980deg);
  }
}

@keyframes spin-heads {
  0% {
    transform: rotateX(0);
  }
  100%{
    transform: rotateX(2160deg);
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  width: 150px;
  background-color:#e81818 ;
  font-size: large ;
  font-weight: 750;
  color: rgb(232, 195, 9);
  padding: 20px 0px ;
  border-radius: 10px ;
  cursor: pointer;
}

/* #flip-button:hover { */
  /* background-color: #e5c10d;
  color: #000000;
  font-size: x-large ;
  font-weight: 750;
}  */

  #flip-button {
  background-color:#e81818 ;
  font-size: x-large ;
  font-weight: 750;
  color: rgb(232, 195, 9);
}  

 #reset-button {
  background-color:#e81818 ;
  font-size: x-large ;
  font-weight: 750;
  color: rgb(232, 195, 9);
} 




 

