body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #000000;
  color: #e5c10d;
}

h1 {
  color: #07ce1b;
}

button {
  background-color:#e81818 ;
  font-size: 16px ;
  color: rgb(232, 195, 9);
  padding: 10px ;
  border-radius: 4px ;
  cursor: pointer;

}

button:hover {
  background-color: #033808;
}

#game-status {
  margin-top: 20px;
  font-size: 18px;
}


.result-heads {
  color: rgb(233, 10, 10);
}

.result-tails {
  color:#07ce1b ;
}




 

